html{
    font-size: 16px;
    color: rgb(255, 250, 237);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(112, 44, 99);
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    margin-top: .9rem;
    margin-left: 1.5rem;
}
.logo{
    width: 6rem;
    height: 9rem;
    margin-top: -2.7rem;
}
.delivery-info{
    line-height: 0.4rem;
}
.delivery-type{

}
.delivery-addr{

}
.right{
    display: flex;
    margin-top: 1.8rem;
    margin-right: 1.5rem;
}
#search-form{

}
#search{

}
.btn-search{

}
.btn-cart{
    border: 0;
    padding: 0;
    height: 2rem;
    width: 2rem;
}
.btn-status{
    border: 0;
    padding: 0;
    height: 2rem;
    width: 4rem;
}

/* main section */
/* category section */
#main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.food-category{

}
#categories{

}
.category{
    list-style: none;
    margin-bottom: 2rem;
}

/* food section */

.section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: .5rem;
    margin-right: 5rem;
}
.item{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 1.5rem;
}
.one{

}
.item-category{

}
.section>.item{
    border: 1px solid white;
}
.item-image{
    width: 7rem;
    height: 7rem;
}
.item-desc{

}
.item-name{

}
.item-detail{

}
.item-count{
    display: flex;
    justify-content: right;
    margin-left: 2rem;
}
.minus{
    margin-right: .5rem;
}
.item-total{

}
.plus{
    margin-left: .5rem;
}
.minus,.plus{
    background: none;
    border-style: none;
    color: white;
}
.item-price{
    position: relative;
    top: -6.2rem;
}